@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model team2project.Models.Event
@Styles.Render("~/Content/Home/Details.css")
@using System.Globalization

<div class="grid">
    <div class="row cells12">
        <div class="cell colspan2">
            <div class="tile-small">
                <h4>@Model.from.ToString("dd")</h4>
                <p>@Model.from.ToString("MMMM", new CultureInfo("en"))</p>
            </div>
        </div>
        <div class="cell colspan10">
            <h2>@Model.title</h2>
        </div>
    </div>
    <div class="row">
        <div class="cell colspan2">
            <button class="button danger loading-pulse text-shadow">Join Event</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td>Date:</td>
                    <td>@Model.from.ToString("dd MMMM yyyy", new CultureInfo("en"))</td>
                </tr>
                <tr>
                    <td>From:</td>
                    <td>@Model.from.ToString("hh:mm")</td>
                </tr>
                <tr>
                    <td>To:</td>
                    <td>@Model.to.ToString("hh:mm")</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>@Model.location</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class="row description">
        <div class="cell">
            @if (@Model.longDesc.Length > 0)
            {
                <p>@Model.longDesc</p>
            }
            else
            {
                <p>@Model.desc</p>
            }
        </div>
    </div>
</div>
