@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Collections.Generic.Dictionary<uint,team2project.Models.Event>
@using System.Globalization
@Styles.Render("~/Content/Home/List.css")

<div class="grid">
    <h1>@ViewBag.Title</h1>
    <table class="table hovered striped border bordered sortable-markers-on-left">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var curEvent in Model)
            {
                var evnt = curEvent.Value;
                <tr onclick="window.location='Details/@evnt.Id'">
                    <td>@evnt.Title</td>
                    <td>@evnt.Desc</td>
                    <td>@evnt.From.ToString("dd MMMM yyyy", new CultureInfo("en"))</td>
                    <td>@evnt.From.ToString("hh:mm") - @evnt.To.ToString("hh:mm")</td>
                    <td>@evnt.Location</td>
                </tr>
            }
        </tbody>
    </table>
</div>
