@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("../../Content/Home/List.css")" rel="stylesheet" />

<div class="grid">
    <h1>@ViewBag.Title</h1>
    <table class="table hovered striped border bordered sortable-markers-on-left">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var curEvent in ViewBag.list)
            {
                var evnt = curEvent.Value;
                <tr onclick="window.location='Details/@evnt.id'">
                    <td>@evnt.title</td>
                    <td>@evnt.desc</td>
                    <td>@evnt.from.ToString("dd MMMM yy")</td>
                    <td>@evnt.from.ToString("hh:mm") - @evnt.to.ToString("hh:mm")</td>
                    <td>@evnt.location</td>
                </tr>
            }
        </tbody>
    </table>
</div>
