@using team2project.Models
@model UserViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/User/user.css")
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "container z-depth-3" }))
{

    @Html.ValidationSummary(true)
    <h5>Вход на сайт</h5>
    <div class="input-field col s12 m12">
        @Html.LabelFor(m => m.Email, "Электронная почта")
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="input-field col s12 m12">
        @Html.LabelFor(m => m.Password, "Пароль")
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div style="display:none;">
        <input type="text" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnURL" />
    </div>
    <div class="input-field col s12 m12">
        @Html.RouteLink("Забыли пароль?", "ForgotPassword")           
    </div>
    <button class="btn waves-effect waves-light blue" type="submit">Вход</button>
}
