@model System.Collections.Generic.List<team2project.Models.EventViewModel>

@{
    ViewBag.Title = "Мои события";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}

<div class="container">
<h2 class ="center blue-text">Мои события</h2>
    <div class="width80">
        @Html.RouteLink("Прошедшие события", "PastEvents")
        @Html.RouteLink("Текущие/будущие события", "FutureEvents")
    </div>
<table class="striped width80" >
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@Html.RouteLink(evnt.Title, "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink(evnt.Description, "EventDetails", new { evnt.Id })</td>
                    <td>
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy") : "n/a", "EventDetails", new { evnt.Id })
                        @Html.RouteLink(",", "EventDetails", new { evnt.Id })
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })                        
                    </td>
                    <td>@Html.RouteLink(evnt.Location, "EventDetails", new { evnt.Id })</td>
                    <td id="TdUpdate"><button class="btn waves-effect waves-light blue white-text" type="submit">@Html.RouteLink("Изменить событие", "UpdateEvent", new { evnt.Id })</button></td>
                    <td id="TdDell">@Html.RouteLink("УДАЛИТЬ", "DeleteUserEvent", new { evnt.Id }, new { @class="btn waves-effect waves-light white-text red"})</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
}