@using team2project.Models
@model UserViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/User/user.css")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("Registration", "User", FormMethod.Post, new { @class = "container z-depth-3" }))
{    <h5>Регистрация участников</h5>
    <div class="row">
        @Html.ValidationSummary(true)
        @ViewBag.RegistrationSuccess
        @ViewBag.DuplicateMailError
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Name, "Имя")<br>
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Surname, "Фамилия")<br>
            @Html.EditorFor(m => m.Surname)
            @Html.ValidationMessageFor(m => m.Surname)
        </div>
        <div class="input-field col s12 m12 12">
            @Html.LabelFor(m => m.Email, "Электронная почта")<br>
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="input-field col s12">
            @Html.LabelFor(m => m.Location, "Город")<br>
            @Html.EditorFor(m => m.Location)
            @Html.ValidationMessageFor(m => m.Location)
        </div>
        <div class="input-field col s12">
            @Html.LabelFor(m => m.Password, "Пароль")<br>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input-field col s12">
            @Html.LabelFor(m => m.RepeatPassword, "Повторите пароль")<br>
            @Html.PasswordFor(m => m.RepeatPassword)
            @Html.ValidationMessageFor(m => m.RepeatPassword)
        </div>
        <button class="btn waves-effect waves-light" type="submit">Зарегистрировать меня</button>
    </div>
}