@using team2project.Models
@model UserViewModel

@{
    var classes = "";
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/User/user.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
}
@if (ViewBag.RegistrationSuccess != null)
{
    classes = "container container-wider z-depth-3";
}
else
{
    classes = "container z-depth-3";
}
<div class="@classes" style="position: relative">
    @using (Html.BeginForm("Registration", "User", FormMethod.Post))
    {          
        <div class="row center">
            <h3>Регистрация участников</h3>
            <img id="loading-img" class="center" alt="loading" src="~/Content/loading32.GIF"/>
        </div>
        <div class="row">

            @Html.ValidationSummary(true)
            @*@if (ViewBag.RegistrationSuccess != null)
                {
                <div id="registrationSuccess" class="col s12 m12 12 reg-mess center large-font">
                    @ViewBag.RegistrationSuccess
                </div>
                }
                else
                {
            *@
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.Name, "Имя")
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.Surname, "Фамилия")
                @Html.EditorFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
            <div class="input-field col s12 m12 12">
                @Html.LabelFor(m => m.Email, "Электронная почта")
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="input-field col s12 m12 l12 center">
                <div class="m-left" id="city">@Html.LabelFor(m => m.LocationId, "Город")</div>
                <div class="ui-widget m-left">
                    @Html.DropDownList("some name", AvailableLocations, new { id = "combobox" })
                </div>
                <input id="location" name="LocationId" style="height: 0; padding: 0; margin: 0; border: none;">
                @Html.ValidationMessageFor(m => m.LocationId)

            </div>
            <div class="input-field col s12">
                @Html.LabelFor(m => m.Password, "Пароль")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="input-field col s12">
                @Html.LabelFor(m => m.RepeatPassword, "Повторите пароль")
                @Html.PasswordFor(m => m.RepeatPassword)
                @Html.ValidationMessageFor(m => m.RepeatPassword)
            </div>
            <button class="btn waves-effect waves-light dark-blue-grey" type="submit">Зарегистрировать меня</button>
            @*}*@
        </div>
    }      
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/register.js")
    @Scripts.Render("~/Scripts/registrationScript.js")
}