@using team2project.Models
@model UserViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Styles.Render("~/Content/User/user.css")
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm("Update", "User", FormMethod.Post, new { @class = "container z-depth-3" }))
{
    <h5>Смена пароля</h5>
    @Html.ValidationSummary(true)
    @ViewBag.PasswordSuccess
    <div class="input-field col s12 m12 12">
        @Html.LabelFor(m => m.Password, "Старый пароль")<br>
        <input type="password" id="oldPassword" name="oldPassword" />
        @ViewBag.OldPasswordError
    </div>
    <div class="input-field col s12 m12 12">
        @Html.LabelFor(m => m.Password, "Новый пароль")<br>
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="input-field col s12 m12 12">
        @Html.LabelFor(m => m.RepeatPassword, "Повторите пароль")<br>
        @Html.EditorFor(m => m.RepeatPassword)
        @Html.ValidationMessageFor(m => m.RepeatPassword)
    </div>
    <button class="btn waves-effect waves-light" type="submit">Сменить пароль</button>
}