@using team2project.Models
@model UserViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>
@using (Html.BeginForm("Update", "User", FormMethod.Post))
    {
        <p>
            @Html.ValidationSummary(true)
        </p>
        <p>
            @Html.LabelFor(m => m.Password, "Password")<br>
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            @Html.LabelFor(m => m.Password, "newPassword")<br>
            <input type="password" id="newPassword" name="newPassword" />
            @Html.ValidationMessageFor(m => m.Password)
        </p>
        <p>
            @Html.LabelFor(m => m.RepeatPassword, "Repeat")<br>
            <input type="password" id="repeatPassword" name="repeatPassword" />
            @Html.ValidationMessageFor(m => m.RepeatPassword)
        </p>
        <input type="submit" value="Update" />
    }