@model team2project.Models.CommentViewModel
@using SolariCaptcha
@using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new { onsubmit = "return confirmCaptcha(document.getElementById('cptchid').value)" }))
{
   

    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.EventId)
        @Html.HiddenFor(m => m.AuthorId)
        @{
    if (!User.Identity.IsAuthenticated)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorName, "Автор")
        </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AuthorName)
                @Html.ValidationMessageFor(model => model.AuthorName)
            </div>
    }
    else
    {
        Model.AuthorName = User.Identity.Name;
    }
   
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Text, "Текст сообщения")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <div id="captcha">
            @Html.Captcha(Request.Url.Authority, "cptchid")
        </div>
        <p>
            <button class="btn waves-effect waves-light blue right" type="submit">Отправить</button>
        </p>
    </fieldset>
}