<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/metro")
    @Styles.Render("~/Content/materialize/materialize.css")
    @Styles.Render("~/Content/css")
    @RenderSection("css", false)
</head>
<body>
    <header>
            <ul class="m-menu">
                <li>
                    @Html.RouteLink("Главная", "Home")
                </li>
                <li>
                    @Html.RouteLink("Список событий", "EventList")
                </li>
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Регистрация", "Registration")
                        </li>
                        <li>
                            @Html.RouteLink("Вход", "Login")
                        </li>   
                    }
                 }
                
                @{ 
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Сменить пароль", "Update")
                        </li>
                        <li>
                            @Html.RouteLink("Выйти", "Logout")
                        </li>
                        <li>
                            @User.Identity.Name
                        </li>
                    }
                }
            </ul>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/materialize/materialize.js")
    @Scripts.Render("~/Scripts/metro")
    @RenderSection("scripts", required: false)
</body>
</html>
