<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/metro")
    @Styles.Render("~/Content/materialize/materialize.css")
    @Styles.Render("~/Content/css")
    @RenderSection("css", false)
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"> </script>

</head>
<body>
    <header>
           
    </header>

     <div class="row" id ="nav">

      <div class="col s3">
        
           <ul class ="side-nav fixed">
                <li>
                    @Html.RouteLink("Главная", "Home")
                </li>
                <li>
                    @Html.RouteLink("Список событий", "EventList")
                </li>
               <li>
                   @Html.RouteLink("Создать событие", "CreateEvent")
               </li>
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Регистрация", "Registration")
                        </li>
                        <li>
                            @Html.RouteLink("Вход", "Login")
                        </li>   
                    }
                 }
                
                @{ 
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Сменить пароль", "Update")
                        </li>
                        <li>
                            @Html.RouteLink("Выйти", "Logout")
                        </li>
                        <li>
                            @User.Identity.Name
                        </li>
                    }
                }
            </ul>


      </div>

      <div class="col s9" style ="float: right">
        @RenderBody()
      </div>

    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/materialize/materialize.js")
    @Scripts.Render("~/Scripts/metro")
    @RenderSection("scripts", required: false)
     <script>
         var size = [document.documentElement.clientWidth, document.documentElement.clientHeight];
         window.onresize = function () {
             document.body.style.zoom = document.documentElement.clientWidth / size[0];
         }
    </script>
</body>
</html>
