<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metro")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("css", false)
</head>
<body>
    <header>
        <nav>
            <ul class="m-menu">
                <li>
                    @Html.RouteLink("Home", "Home")
                </li>
                <li>
                    @Html.RouteLink("List", "EventList")
                </li>
                <li>
                    @Html.RouteLink("Registration", "Registration")
                </li>
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Login", "Login")
                        </li>   
                    }
                 }
                
                @{ 
                    if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.RouteLink("Logout", "Logout")
                        </li>
                        <li>
                            @Html.RouteLink("Change password", "Update")
                        </li>
                        <li>
                            @User.Identity.Name
                        </li>
                    }
                }
            </ul>
        </nav>
    </header>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/Scripts/metro")
    @RenderSection("scripts", required: false)
</body>
</html>
