
@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/preloader.css")
}
@section scripts{
    @Scripts.Render("~/bundles/knockout");
    @Scripts.Render("~/Scripts/adminScript.js")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
}
<div class="container">
    <h2 class ="center dark-text">Кабинет администратора</h2>
    <table class="striped centered">
        <thead>
            <tr class="table-hat">
                <th>Название</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody class="admin" data-bind="foreach: events">
            <tr data-bind="descriminateActive, css: isSeen" id="td-button-color">
                <td class="clickable" data-bind="text: title, click:goToDetails"></td>
                <td class="clickable" data-bind="text: shortDescription, click:goToDetails"></td>
                <td class="clickable" data-bind="text: dateAndTime, click:goToDetails"></td>
                <td class="clickable" data-bind="text: location, click:goToDetails"></td>
                <td><button id="visibleButton" class="btn waves-effect waves-light dark-blue-grey white-text" data-bind="text: toogleText, click: $data.toogleActive, css: updateAccent"></button></td>
                <td><button class="btn waves-effect waves-light red white-text" data-bind="click: function(){$root.deleteEvent($data)}">Удалить</button></td>
            </tr>
        </tbody>
    </table>
    <div id="dialog-confirm" title="Удалить это событие?" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>
            Это событие будет удалено окончательно и не может быть восстановлено. Вы уверены?
        </p>
    </div>
    <div id="dialog-was-deleted" title="Удаление события" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>
            Это событие уже было удалено...
        </p>
    </div>
    <div id="dialog-toggleStatus-error" title="Ошыбка" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>
            <span id="text-toggleStatus"></span>
        </p>
    </div>
</div>