@{
    ViewBag.Title = "Manager Page";
}
@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
}
<div class="container">
    <h1>@ViewBag.Title</h1>
    <table class="striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@evnt.Title</td>
                    <td>@evnt.Description</td>
                    <td>
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy") : "n/a", "EventDetails", new { evnt.Id }),
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })
                        
                        <br></br>
                        
                    @if (evnt.ToDate != null && (evnt.FromDate == null || evnt.ToDate.Value.DayOfYear != evnt.FromDate.Value.DayOfYear))
                    {
                        @Html.RouteLink(evnt.ToDate.Value.ToString("dd MMMM yyyy"), "EventDetails", new { evnt.Id })
                    }
                        ,
                        @Html.RouteLink(evnt.FromDate != null ? @evnt.ToDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })
                </td>
                    <td>@evnt.Location</td>
                    <td>
                            @if (evnt.Active)
                            {
                                
                                @Html.RouteLink("Деактивировать", "ToogleIsActiveEvent", new { @id = evnt.Id })
                            }
                            else
                            {
                                @Html.RouteLink("Активировать", "ToogleIsActiveEvent", new { @id = evnt.Id })
                            }
                    </td>
                    <td>
                        @Html.RouteLink("Удалить", "DeleteEvent", new { @id = evnt.Id })
                    </td>
                </tr>
                if (!evnt.Checked)
                {
                    Html.RenderAction("ToggleButtonStatusChecked", new { id = evnt.Id });
                }
            }
        </tbody>
    </table>
</div>

@helper Date(DateTime? FromDate, DateTime? ToDate)
{
    @(FromDate != null ? FromDate.Value.ToString("dd MMMM yyyy") : "n/a")
    if (ToDate != null && (FromDate == null || ToDate.Value.DayOfYear != FromDate.Value.DayOfYear))
    {
        @ToDate.Value.ToString("dd MMMM yyyy")
    }
}