@{
    ViewBag.Title = "Manager Page";
}
@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
}
<div class="container">
    <h1>@ViewBag.Title</h1>
    <table class="striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>От</th>
                <th>До</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                    if(!evnt.Checked){
                        Html.RenderAction("ToggleButtonStatusChecked", new { id = evnt.Id });
                    }

                <tr>
                    <td>@evnt.Title</td>
                    <td>@evnt.Description</td>
                    <!--<td>@Date(evnt.FromDate, evnt.ToDate)</td>-->
                    <td>@(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy hh:mm") : "n/a")</td>
                    <td>@(evnt.FromDate != null ? evnt.ToDate.Value.ToString("dd MMMM yyyy hh:mm") : "n/a")</td>
                    <td>@evnt.Location</td>
                    <td>
                            @if (evnt.Active)
                            {
                                
                                @Html.RouteLink("Деактивировать", "ToogleIsActiveEvent", new { @id = evnt.Id })
                            }
                            else
                            {
                                @Html.RouteLink("Активировать", "ToogleIsActiveEvent", new { @id = evnt.Id })
                            }
                    </td>
                    <td>
                        @Html.RouteLink("Удалить", "DeleteEvent", new { @id = evnt.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@helper Date(DateTime? FromDate, DateTime? ToDate)
{
    @(FromDate != null ? FromDate.Value.ToString("dd MMMM yyyy") : "n/a")
    if (ToDate != null && (FromDate == null || ToDate.Value.DayOfYear != FromDate.Value.DayOfYear))
    {
        @ToDate.Value.ToString("dd MMMM yyyy")
    }
}