@model team2project.Models.EventViewModel
@using System.Globalization;
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/User/user.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Events/CreatePage.css")
}

@{
    var button = "";
    var header = "";
    var action = "";
    if (String.IsNullOrEmpty(Model.AuthorId))
    {
        action = "Create";
        button = "Создать";
        header = "Создайте собственное событие";
    }
    else
    {
        action = "Update";
        button = "Сохранить";
        header = "Редактируйте событие";
    }
}
<div class="container container-wider z-depth-3 m6">
    <h5>@header</h5>
    <br />
    @using (Html.BeginForm(action, "EventController", FormMethod.Post, new {id="form"}))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TextDescription)
        @Html.HiddenFor(m => m.AuthorId)
        @Html.ValidationSummary(true)
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Title, "Название")
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Description, "Описание")
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        
        <div class="input-field col s12 m12 l12 center">
            <div class="m-left" id="city">@Html.LabelFor(m => m.Location, "Город")</div>
            <div class="ui-widget m-left">
                @Html.DropDownList("LocationId", AvailableLocations, new { @class = "visible" })
            </div>
        </div>
        
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Image, "Ссылка на изображение")
            @Html.EditorFor(m => m.Image)
            @Html.ValidationMessageFor(m => m.Image)
        </div>
        
        <div class="row">
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.FromDate, "От")
                <input id="datetimepicker1" name="FromDate" type="text">
                @Html.ValidationMessageFor(m => m.FromDate)
            </div>
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.ToDate, "До")
                <input id="datetimepicker2" name="ToDate" type="text">
                @Html.ValidationMessageFor(m => m.ToDate)
            </div>
        </div>

    <div class="center">
        <button class="btn btn-flat waves-effect waves-light dark-text dark-blue-grey-hover large-font forDisable" onclick="window.location = '@ViewBag.returnUrl'" type="button">Отмена</button>
        <button class="btn btn-flat waves-effect waves-light dark-text dark-blue-grey-hover bold large-font forDisable" id="create" type="submit">@button</button>
    </div>
    }
    
</div>
<script>
    $(document).ready(function(){
        var target = $(".forDisable"), form = $("form");
        target.removeAttr('disabled');
        target.removeClass('disabled');
        form.on("submit", function () {
            target.addClass("disabled");
            target.attr("disabled", "disabled");
        });
        $(".create-event-block").hide(0);
    });
    window.fDate = @Html.Raw("'" + (Model.FromDate != null ? Model.FromDate.Value.ToString("yyyy/MM/dd HH:mm").Replace('.', '/') : " ") + "'");
    window.tDate = @Html.Raw("'" + (Model.ToDate != null ? Model.ToDate.Value.ToString("yyyy/MM/dd HH:mm").Replace('.', '/') : " ") + "'");
    window.city = @Html.Raw("'" + (Model.LocationId != null ? Model.LocationId.ToString() : " ") + "'")
</script>
@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/createScript.js")
    @Scripts.Render("~/bundles/jqueryval")
}
