@{
    ViewBag.Title = "Create event";
}

@model team2project.Models.EventViewModel
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/User/user.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/Events/CreatePage.css")
    @Styles.Render("~/Content/Site.css")
}


<div class="container z-depth-1">
    <h5>Создайте собственное мероприятие!</h5>
    @using (Html.BeginForm("Create", "EventController", FormMethod.Post)) {
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(true)
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Title, "Название")<br>
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Description, "Описание")<br>
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.FromDate, "От")<br>
            <input id="datetimepicker1" name="FromDate" type="text">
            @Html.ValidationMessageFor(m => m.FromDate)
        </div>
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.ToDate, "До")<br>
            <input id="datetimepicker2" name="ToDate" type="text">
            @Html.ValidationMessageFor(m => m.ToDate)
        </div>
        <div class="input-field col s12 m12 l12">
            <div class="left" id ="city">@Html.LabelFor(m => m.Location, "Город")</div>
            <div class="ui-widget m-left">
                @Html.DropDownList("some name", AvailableLocations, new { id = "combobox" })
            </div>
            <input id="location" name="Location" style="height: 0; padding: 0; margin: 0; border: none;">
            @Html.ValidationMessageFor(m => m.Location)

        </div>
        <button class="btn waves-effect waves-light blue" type="submit">Создать</button>
    }
</div>


@section scripts{
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.js")
    @Scripts.Render("~/Scripts/createScript.js")
    @Scripts.Render("~/bundles/jqueryval")
}

