@{
    ViewBag.Title = "Create event";
}

@model team2project.Models.EventViewModel
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}

<div >
    <h1>@ViewBag.Title</h1>
    <div class="ui-widget">
          <label>Cities: </label>
          <select id="combobox">
            <option value="">Select one...</option>
            <option value="1">Kyiv</option>
            <option value="2">Lviv</option>
            <option value="3">Zhytomyr</option>
            <option value="4">Zmerinka</option>
          </select>
        </div>
    @using (Html.BeginForm("Create", "EventController", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.ValidationSummary(true)
        </p>
        <p>
            @Html.LabelFor(m => m.Title, "Заголовок")<br>
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Описание")<br>
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </p>
        <p>
            @Html.LabelFor(m => m.FromDate, "От")<br>
            @Html.EditorFor(m => m.FromDate)
            @Html.ValidationMessageFor(m => m.FromDate)
        </p>
        <p>
            @Html.LabelFor(m => m.ToDate, "До")<br>
            @Html.EditorFor(m => m.ToDate)
            @Html.ValidationMessageFor(m => m.ToDate)
        </p>
        <p>
            @Html.LabelFor(m => m.Location, "Город")<br>
            @Html.EditorFor(m => m.Location)
            @Html.ValidationMessageFor(m => m.Location)
        </p>
        <p>
            @Html.LabelFor(m => m.LongDescription, "Полное описание")<br>
            @Html.EditorFor(m => m.LongDescription)
            @Html.ValidationMessageFor(m => m.LongDescription)
        </p>
        <input type="submit" value="Create" />
    }
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/script.js")
}