@model team2project.Models.EventViewModel
@using System.Globalization;
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
    @Styles.Render("~/Content/User/user.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/Events/CreatePage.css")
    @Styles.Render("~/Content/Site.css")
    <style type="text/css">
        .fm-modal {
            z-index: 10011; /** Because CKEditor image dialog was at 10010 */
            width: 80%;
            height: 98%;
            top: 3%;
            left: 10%;
            border: 0;
            position: fixed;
            -moz-box-shadow: 0px 1px 5px 0px #656565;
            -webkit-box-shadow: 0px 1px 5px 0px #656565;
            -o-box-shadow: 0px 1px 5px 0px #656565;
            box-shadow: 0px 1px 5px 0px #656565;
            filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
        }
    </style>
    <style type="text/css">
        label[for="Description"] {
            left: 0;
            position: relative;
            top: -5px;
        }

        .cke_textarea_inline {
            overflow: hidden;
            border-color: -moz-use-text-color -moz-use-text-color #9e9e9e;
            border-style: none none solid;
            border-width: medium medium 1px;
        }

        .cke_dialog_ui_input_select {
            display: inline-block;
        }

        .cke_focus {
            /*overflow: scroll;*/
        }
    </style>
}

@{
    var button = "";
    var header = "";
    var action = "";
    if (String.IsNullOrEmpty(Model.Title))
    {
        action = "Create";
        button = "Создать";
        header = "Создайте собственное событие";
    }
    else
    {
        action = "Update";
        button = "Сохранить";
        header = "Редактируйте событие";
    }
}
<div class="container container-wider z-depth-3 m6">
    <h5>@header</h5>
    <br />
    @using (Html.BeginForm(action, "EventController", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TextDescription)
        @Html.ValidationSummary(true)
        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Title, "Название")
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="input-field col s12 m12 l12">
            @Html.LabelFor(m => m.Description, "Описание")
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.FromDate, "От")
                <input id="datetimepicker1" name="FromDate" type="text">
                @Html.ValidationMessageFor(m => m.FromDate)
            </div>
            <div class="input-field col s12 m6">
                @Html.LabelFor(m => m.ToDate, "До")
                <input id="datetimepicker2" name="ToDate" type="text">
                @Html.ValidationMessageFor(m => m.ToDate)
            </div>
        </div>
        <div class="input-field col s12 m12 l12 center">
            <div class="m-left" id="city">@Html.LabelFor(m => m.Location, "Город")</div>
            <div class="ui-widget m-left">
                @Html.DropDownList("some name", AvailableLocations, new { id = "combobox" })
            </div>
            <input id="location" name="Location" style="height: 0; padding: 0; margin: 0; border: none;">
            @Html.ValidationMessageFor(m => m.Location)

        </div>

        <button class="btn waves-effect waves-light dark-blue-grey" type="submit">@button</button>
    }
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/createScript.js")
    @Scripts.Render("~/bundles/jqueryval")
}
