@{
    ViewBag.Title = "Details";
}


@model team2project.Models.EventViewModel
@using System.Globalization
@using team2project.Models
@using System.Collections.Generic

@section css{
    @Styles.Render("~/Content/Home/Details.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js");
    @Scripts.Render("~/Scripts/jquery.validate.min.js");
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js");
}


<div class="container z-depth-1">
    <div class="row">
        <div class="col s2 m2 2">
            <div class="tile-small">
                @if (@Model.FromDate != null)
                {
                    <h4>@Model.FromDate.Value.ToString("dd")</h4>
                    <p>@Model.FromDate.Value.ToString("MMMM")</p>
                }
                else
                {
                    <p>n/a</p>
                }
            </div>
        </div>
        <div class="col c10 m10 10">
            <h2>@Model.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s2 m2 2">
            <button class="button danger loading-pulse text-shadow">Присоедениться</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td>От:</td>
                    <td>@CheckDateIfNull(Model.FromDate, "dd MMMM yyyy")</td>
                </tr>
                <tr>
                    <td>До:</td>
                    <td>@CheckDateIfNull(Model.ToDate, "dd MMMM yyyy")</td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td>@Model.Location</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class="row description">
        <div class="col">
                <span>Описание:</span>
                <p id ="desc">@Model.Description</p>
        </div>
    </div>
</div>
@{
    Html.RenderAction("Index", "Subscribers", new { EventId = @Model.Id });   
}
@{
    var list = AutoMapper.Mapper.Map<IList<CommentViewModel>>(ViewData["Comments"]);
    foreach (CommentViewModel item in list)
    {
        <div class="container z-depth-1 comment-body">
            <div class="row">
                <div class="col s12 m2 2">
                    <strong>@item.AuthorName</strong>
                </div>
                <div class="col s12 m3 3"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m12 12">
                    @item.Text
                </div>
            </div>
        </div>
    }
}

<div class="container z-depth-1">
    @Html.Partial("~/Views/Comment/Create.cshtml", new CommentViewModel(Model.Id))
</div>

@helper CheckDateIfNull(DateTime? date, string format)
{
    if (date != null)
    {
        @date.Value.ToString(format)
    }
    else
    {
        <span>n/a</span>
    }
}


