@{
    ViewBag.Title = "Details";
}


@model team2project.Models.EventViewModel
@using System
@using System.Globalization
@using team2project.Models
@using System.Collections.Generic
@using System.Web
@using team2project.Helpers

@section css{
    @Styles.Render("~/Content/Home/Details.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}
@if (User.Identity.Name == Model.AuthorId)
{
    <div class="edit-event-block">
        @Html.CreateLink("<i class=\"large mdi-editor-mode-edit\"></i>", "UpdateEvent", new { Model.Id }, new { @class = "large btn-floating blue" })
        <a class="large btn-floating red" onclick="deleteEvent('@Model.Id'); return false"><i class="large mdi-action-delete"></i></a>
    </div>
}
<div class="container z-depth-1">
    <form onsubmit="return false">
        <fieldset>   
            <div id="onme" class="button-block medium-font center right">
                <div class="month-date-block left border-blue-grey center no-padding inline-block">
                    <div class="white-text bg-blue-grey month">
                        @CheckDateIfNull(Model.FromDate, "MMMM")
                    </div>
                    <div class="day color-blue-grey">
                        @CheckDateIfNull(Model.FromDate, "dd")
                    </div>
                </div>
                <div class="join-button">
                    @if (Model.ToDate > DateTime.Now)
                    {
                        <button id="submit" class="btn waves-effect waves-light dark-blue-grey margin-right large-font">Подождите</button>
                    }
                </div>
                <div class="wrap">
                    @{
                        Html.RenderAction("Index", "Subscribers", new { EventId = @Model.Id });
                    }
                </div>
            </div>
         
            <div class="row first-row inline-block">
                
                <div class="details-event-img">
                    @Html.CreateImage(Model.Image)
                </div>
                <div class="title-date-block inline-block left">
                    <div class="event-title inline-block"><h4 class="inline-block no-margin">@Model.Title</h4></div>
                    <div></div>
                    <div class="inline-block">
                        <span class="text-bold large-font">@CheckDateIfNull(Model.FromDate, "dd MMMM yyyy года, H:mm ")</span>
                        ―
                        <span class="text-bold large-font">@CheckDateIfNull(Model.ToDate, " dd MMMM yyyy года, H:mm ")</span>
                    </div>
                    <div></div>
                    <div class="bold left">
                        <span class="text-bold large-font">@Model.Location</span>
                    </div>
                </div>
                
            </div>
            <div class="row medium-font" id="desc">
                <div>
                    <p class="text-align-justify">@Model.Description.ToHtmlString()</p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="container z-depth-1">
    @Html.Partial("~/Views/Comment/Create.cshtml", new CommentViewModel(Model.Id))
</div>
@{
    var list = AutoMapper.Mapper.Map<IList<CommentViewModel>>(Model.Comments);
    foreach (CommentViewModel item in list)
    {
    <div class="padding20 container z-depth-1 comment-body">

        <div class="row marge">
            <div class="col s12 m5">
                <div id="user" class="valign-wrapper">
                    <i class="medium mdi-action-account-circle left"></i><strong>@item.AuthorName</strong>
                    <i class="right">@item.PostingTime.ToShortDateString(), @item.PostingTime.ToShortTimeString()</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m12 2">
                @item.Text
            </div>
        </div>
    </div>
    }
    <div id="dialog-confirm" title="Удалить это событие?" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
            Это событие будет удалено окончательно и не может быть восстановлено. Вы уверены?
        </p>
    </div>
}
@helper CheckDateIfNull(DateTime? date, string format)
{
    if (date != null)
    {
    @date.Value.ToString(format)
    }
    else
    {
    <span>n/a</span>
    }
}
@section scripts{
    @Scripts.Render("~/Scripts/details.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/deleteButton.js")
}