@{
    ViewBag.Title = "Details";
}


@model team2project.Models.EventViewModel
@using System.Globalization

@section css{
    @Styles.Render("~/Content/Home/Details.css")
}
<div class="grid">
    <div class="row cells12">
        <div class="cell colspan2">
            <div class="tile-small">
                @if (@Model.FromDate != null)
                {
                    <h4>@Model.FromDate.Value.ToString("dd")</h4>
                    <p>@Model.FromDate.Value.ToString("MMMM")</p>
                }
                else
                {
                   <p>n/a</p>
                }
            </div>
        </div>
        <div class="cell colspan10">
            <h2>@Model.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="cell colspan2">
            <button class="button danger loading-pulse text-shadow">Join Event</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td>Date:</td>
                    @CheckDateIfNull(Model.FromDate, "dd MMMM yyyy")
                </tr>
                <tr>
                    <td>From:</td>
                    @CheckDateIfNull(Model.FromDate, "dd MMMM hh:mm")
                </tr>
                <tr>
                    <td>To:</td>
                    @CheckDateIfNull(Model.ToDate, "dd MMMM hh:mm")
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>@Model.Location</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class="row description">
        <div class="cell">
            @if (!@String.IsNullOrEmpty(Model.LongDescription))
            {
                <p>@Model.LongDescription</p>
            }
            else
            {
                <p>@Model.Description</p>
            }
        </div>
    </div>
    @Html.Partial("~/Views/Comment/Create.cshtml", new team2project.Models.CommentViewModel(Model.Id))
</div>





@helper CheckDateIfNull(DateTime? date, string format) { 
    if (date != null)
    {
        <td>@date.Value.ToString(format)</td>
    }
    else
    {
        <td>n/a</td>
    }
}
