@{
    var currentURL = Request.Url;
}

@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@using team2project.Models
@using team2project.Helpers
@using Events.Business.Helpers
@model EventListViewModel
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.min.css")    
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}
@if (User.Identity.IsAuthenticated)
{
    <div class="create-event-block hide-on-med-and-down">
        <a class="large btn-floating green" href="@Url.RouteUrl("CreateEvent")"><i class="large mdi-content-add"></i></a>        
    </div>
}
@if(!ViewBag.isFromFind)
{
    <h1 class="center blue-grey-text">Мероприятия</h1>
}
else
{
    <h1 class="center blue-grey-text">Результаты поиска</h1>
    <script>
        $(document).ready(function () {
            $("#search").val(decodeURIComponent(document.location.href.split("/")[4]));
            $("#sticky").hide();
        });
    </script>
}
<div id="sticky">
    <div id="select-menu-wrapper">
        <div class="width80" id="select-menu">
            <div class="ui-widget left">
                <label class="left">Город: </label>
                <div class="ui-widget m-left">
                    @Html.DropDownList("City", AvailableLocations, new { @class = "visible" })
                </div>
            </div>

            <div class="date-filters">
                @ConstructLink("Все мероприятия", PeriodStates.Anytime)
                @ConstructLink("На сегодня", PeriodStates.Today)
                @ConstructLink("На 3 дня", PeriodStates.ThreeDays)
                @ConstructLink("На неделю", PeriodStates.Week)
            </div>
        </div>
    </div>
</div>

<div class="container">
    
    <table class="striped width80 centered">
        <tbody id ="data">
            @{Html.RenderPartial("EventListPartialView", Model);}
        </tbody>
    </table>

    <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
            <img alt="Loading" 
            src="@Url.Content("~/Content/Images/ajax-loader.gif")" />
    </div> 

    <div id="dialog-confirm" title="Удалить это событие?" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
            Это событие будет удалено окончательно и не может быть восстановлено. Вы уверены?
        </p>
    </div>
</div>

<script>
    var startRow = 10;
    var rowCount = 10;
    var inProgress = false;
    var noMoreData = false;


    $(window).scroll(function () {
        if (Math.abs($(window).scrollTop() - ($(document).height() - $(window).height())) <= 3 && !noMoreData && !inProgress) {
            inProgress = true;
            $("#loadingDiv").show();
            $.ajax(
            {
                type: "POST",
                url: "@Url.Action("InfinityScroll", "Event")",
                data: { "location": "@Model.Location", "startRow": startRow, "period": "@Request.Url.AbsolutePath.Split('/')[2]" },
                success: function (data) {
                    inProgress = false;
                    $("#loadingDiv").hide();
                    noMoreData = data.NoMoreData;
                    startRow += rowCount;
                    $("#data").append(data.HTMLString);
                    bindButtons();
                }
            })
        }
    });

    function prepareSticky()
    {
        var stickyNavTop = $('#sticky').offset().top;

        var stickyNav = function () {
            var scrollTop = $(window).scrollTop();

            if (scrollTop + 64 > stickyNavTop && $(document).width() > 670) {
                $('#sticky').addClass('sticky-filters');
            } else {
                $('#sticky').removeClass('sticky-filters');
            }
        };

        stickyNav();

        $(window).scroll(function () {
            stickyNav();
        });
    }    

    $(document).ready(function () {
        
        prepareSticky();

    });
    var cityValue = "@Model.Location";
</script>

@helper ConstructLink(string linkName, string period)
{
    var filters = Request.Url.AbsolutePath.Split('/');

    filters[1] = HttpUtility.UrlDecode(filters[1]);
    if (filters.Length > 2)
    {
        filters[2] = HttpUtility.UrlDecode(filters[2]);
    }


    if (period == filters[2])
    {
    <a href="javascript: return false" class="blue-grey-text active routelink">@linkName</a>
    }
    else
    {
    @Html.RouteLink(linkName, "EventsList", new { period = period }, new { Class = "blue-grey-text routelink filter-link" })
    }
}

@helper CheckDateIfNull(DateTime? date, string format)
{
    if (date != null)
    {
    @date.Value.ToString(format)
    }
    else
    {
    <span>n/a</span>
    }
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.zoom.min.js")
    @Scripts.Render("~/Scripts/deleteButton.js")
    @Scripts.Render("~/Scripts/listSubscribing.js")
    @Scripts.Render("~/Scripts/listScript.js")
}
