@{
    ViewBag.Title = "List";
}

@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
}

<div class="grid">
    <h1>@ViewBag.Title</h1>
    <table class="table hovered striped border bordered sortable-markers-on-left">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@Html.RouteLink(evnt.Title, "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink(evnt.Title, "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy") : "n/a", "EventDetails", new { evnt.Id })
                        @if (evnt.ToDate != null && (evnt.FromDate == null || evnt.ToDate.Value.DayOfYear != evnt.FromDate.Value.DayOfYear))
                        {
                            @Html.RouteLink(evnt.ToDate.Value.ToString("dd MMMM yyyy"), "EventDetails", new { evnt.Id })
                        }
                    </td>
                    <td>@Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("hh:mm") + " - " + @evnt.ToDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink(evnt.Location, "EventDetails", new { evnt.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
