@{
    ViewBag.Title = "List";
}

@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@using team2project.Models
@using team2project.Helpers
@using System.Text.RegularExpressions
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}


<div class="container">
    <h1 class ="center blue-grey-text">Мероприятия</h1>
    
    <!-- Dropdown Trigger -->
    <div class="width80">
        <div class="ui-widget left">
            <label class="left">Город: </label>
            <div class="ui-widget m-left">
                @Html.DropDownList("City", AvailableLocations, new { id = "combobox" })
            </div>
        </div>

        <div class="date-filters">
            @ConstructLink("Все мероприятия", null)
            @ConstructLink("На сегодня", "0")
            @ConstructLink("На 3 дня", "3")
            @ConstructLink("На неделю", "7")
        </div>
    </div>
    <table class="striped width80 centered" >
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@Html.RouteLink(evnt.Title, "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink((evnt.TextDescription != null ? evnt.TextDescription.Cut() : evnt.Description.Cut()), "EventDetails", new { evnt.Id })</td>
                    <td>
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy") : "n/a", "EventDetails", new { evnt.Id })
                        @Html.RouteLink(",", "EventDetails", new { evnt.Id })
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("H:mm") : "n/a", "EventDetails", new { evnt.Id })
                        
                </td>
                <td>@Html.RouteLink((String.IsNullOrEmpty(evnt.Location) ? "Null" : evnt.Location), "EventDetails", new { evnt.Id })</td>
            </tr>
            }
        </tbody>
    </table>

</div>

@helper ConstructLink(string linkName, string nOfDaysToEvent)
{
    var filters = Request.Url.AbsolutePath.Split('/');

    filters[1] = HttpUtility.UrlDecode(filters[1]);
    if(filters.Length > 2) {
        filters[2] = HttpUtility.UrlDecode(filters[2]);
    }
    
    if ((Regex.IsMatch(filters.LastOrDefault(), @"^\d+$") && filters.LastOrDefault() == nOfDaysToEvent) || (!Regex.IsMatch(filters.LastOrDefault(), @"^\d+$") && nOfDaysToEvent == null))
    {
        <a href="#" class="blue-grey-text active">@linkName</a>
    }
    else
    {
        if (nOfDaysToEvent == null)
        {
            @Html.ActionLink(linkName, "Filters", new { days = -1 }, htmlAttributes: new { Class = "blue-grey-text" }) //DIRTY HACK, remove fast as possible
        }
        else if (filters.Length == 3 && !filters[2].IsInt())
        {
           
           @Html.RouteLink(linkName, "by-Location-Days", new { loc = filters[2], days = nOfDaysToEvent }, htmlAttributes: new { Class = "blue-grey-text" })
        }
        else
        {
           @Html.ActionLink(linkName, "Filters", new {days = nOfDaysToEvent}, htmlAttributes: new { Class = "blue-grey-text" })
        }
    }

    
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/listScript.js")
}
