@{
    ViewBag.Title = "List";
}

@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@section css{
    @Styles.Render("~/Content/Home/List.css")
}

<div class="grid">
    <h1>@ViewBag.Title</h1>
    <table class="table hovered striped border bordered sortable-markers-on-left">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@Html.ActionLink(evnt.Title, "Details", new { evnt.Id })</td>
                    <td>@Html.ActionLink(evnt.Title, "Details", new { evnt.Id })</td>
                    <td>@Html.ActionLink(evnt.From != null ? evnt.From.Value.ToString("dd MMMM yyyy") : "n/a", "Details", new { evnt.Id })</td>
                    <td>@Html.ActionLink(evnt.From !=null? evnt.From.Value.ToString("hh:mm") + " - " + @evnt.To.Value.ToString("hh:mm"):"n/a", "Details", new { evnt.Id })</td>
                    <td>@Html.ActionLink(evnt.Location, "Details", new { evnt.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
