@{
    ViewBag.Title = "List";
}

@model System.Collections.Generic.List<team2project.Models.EventViewModel>
@using System.Globalization
@using team2project.Models
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.theme.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}

<div class="container">
    <h1 class ="center blue-text">Мероприятия</h1>
    
    <!-- Dropdown Trigger -->
    <div class="ui-widget">
        <label class="left">Город: </label>
        <div class="ui-widget m-left"">
            @Html.DropDownList("City", AvailableLocations, new { id = "combobox" })
        </div>
    </div>

    <div class ="date-filters">
        @Html.RouteLink("Все мероприятия", "EventList", null, new { Class = "btn white-text blue" })
        @ConstructLink("На сегодня", 0)
        @ConstructLink("На 3 дня", 3)
        @ConstructLink("На неделю", 7)
    </div>

    <table class="hoverable" >
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Дата, время</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td>@Html.RouteLink(evnt.Title, "EventDetails", new { evnt.Id })</td>
                    <td>@Html.RouteLink(evnt.Description, "EventDetails", new { evnt.Id })</td>
                    <td>
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("dd MMMM yyyy") : "n/a", "EventDetails", new { evnt.Id }),
                        @Html.RouteLink(evnt.FromDate != null ? evnt.FromDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })
                        <br></br>
                        
                    @if (evnt.ToDate != null && (evnt.FromDate == null || evnt.ToDate.Value.DayOfYear != evnt.FromDate.Value.DayOfYear))
                    {
                        @Html.RouteLink(evnt.ToDate.Value.ToString("dd MMMM yyyy"), "EventDetails", new { evnt.Id })
                    }
                        ,
                        @Html.RouteLink(evnt.FromDate != null ? @evnt.ToDate.Value.ToString("hh:mm") : "n/a", "EventDetails", new { evnt.Id })
                </td>
                <td>@Html.RouteLink(evnt.Location, "EventDetails", new { evnt.Id })</td>
            </tr>
            }
        </tbody>
    </table>

</div>

@helper ConstructLink(string linkName, int nOfDaysToEvent)
{
    var filters = Request.Url.AbsolutePath.Split('/');

    if (filters.Length == 3 && !filters[2].IsInt())
    {
       @Html.ActionLink(linkName, "Filters", new { loc = filters[2], days = nOfDaysToEvent }, htmlAttributes: new { Class = "btn white-text blue" })
    }
    else
        if (nOfDaysToEvent == 999999 && (filters.Length == 3 || filters.Length == 2))
    {
        @Html.RouteLink(linkName, "EventList", null, new { Class = "btn white-text" })
    }
    else
    {
       @Html.ActionLink(linkName, "Filters", new {days = nOfDaysToEvent}, htmlAttributes: new { Class = "btn white-text blue" })
    }
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/listScript.js")
}
