@using team2project.Helpers
@using team2project.Models
@model EventListViewModel
@{
    var currentURL = Request.Url;
    ViewBag.Title = "Прошедшие события";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var About = " ";
}
@section css{
    @Styles.Render("~/Content/Home/List.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui.structure.min.css")
}
@if (User.Identity.IsAuthenticated)
{
    <div class="create-event-block hide-on-med-and-down">
        @Html.CreateLink("<i class=\"large mdi-content-add\"></i>", "CreateEvent", new { returnURL = currentURL }, new { @class = "large btn-floating green" })
    </div>
}
 
<div class="container">
    <h2 class="center blue-grey-text">Прошедшие события</h2>
    <div class="width80">
        @Html.RouteLink("Текущие/будущие события", "FutureEvents", null, new { Class = "blue-grey-text" })
    </div>
    <table class="striped width80 centered">

        <tbody>
            @{Html.RenderPartial("EventListPartialView", Model);}
        </tbody>
    </table>
    <div id="dialog-confirm" title="Удалить это событие?" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
            Это событие будет удалено окончательно и не может быть восстановлено. Вы уверены?
        </p>
    </div>
</div>

@helper CheckDateIfNull(DateTime? date, string format)
{
    if (date != null)
    {
    @date.Value.ToString(format)
    }
    else
    {
    <span>n/a</span>
    }
}
@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/deleteButton.js")
}